/* cursor animations */
@keyframes animated-cursor{
  from{border-right-color: rgb(226, 223, 223);}
  to{border-right-color: transparent;}
}

/* typewriter */
@keyframes abomination1 {
  0% {
    content: "";
  }
  2% {
    content: "P";
  }
  7% {
    content: "Po";
  }
  14% {
    content: "Por";
  }
  20% {
    content: "Port";
  }
  25% {
    content: "Portt";
  }
  35% {
    content: "Port";
  }
  40% {
    content: "Portf";
  }
  45% {
    content: "Portfo";
  }
  50% {
    content: "Portfoo";
  }
  63% {
    content: "Portfo";
  }
  69% {
    content: "Portfol";
  }
  76% {
    content: "Portfoli";
  }
  80% {
    content: "Portfolio";
  }
  100% {
    content: "// Portfolio";
  }
}

@keyframes bounce{
  0%{
    bottom:100%;
  }
  100%{
    bottom:0%;
  }
}

@keyframes change_color{
  0%{
    background-color:rgb(0, 110, 20);
  }
  25%{
    background-color:rgb(240, 196, 0);
  }
  50%{
    background-color:rgb(0, 76, 240);
  }
  75%{
    background-color:rgb(233, 15, 15);
  }
  100%{
    background-color:rgb(233, 15, 135);
  }
}

@keyframes  shrink{
  0%{
    width:35vh;
    height: 35vh;

  }
  100%{
    width:7vh;
    height:7vh;
  }
}

@keyframes rot-change{
  0%{
    border-radius: 0%;
    transform: rotate(45deg);  
  }
  25%{
    border-radius: 0% 0% 0% 50%;
    transform: rotate(135deg);   
  }  
  50%{
    border-radius: 0% 0% 50% 50%;
    transform: rotate(225deg);   
  }  
  75%{
    border-radius: 0% 50% 50% 50%;
    transform: rotate(315deg);   
  }
  100%{
    border-radius: 50% 50% 50% 50%;
    transform: rotate(405deg); 
  }
}

@keyframes disappear{
  0%{
    opacity: 1;
  }
  90%{
    opacity: 0;
  }
  100%{
    max-width: 0;
  }
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
